/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "Edwardian Script";
    src: url('../Fonts/ITCEDSCR.TTF');
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #FFFFF0;
    color: #CC7722;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

p {
    text-align: center;
}

div {
    text-align: center;
}

.titulo {
    font-family: "Edwardian Script";
}

.subtitulo {
    font-size: 30px;
}

.intro {
}

#top-parallax {
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-section {
    font-family: "Edwardian Script";
    color: white;
}

#intro .saludo {
    text-align: center;
    display: block;
    margin-top: 5%;
    text-align: justify;
}

#intro .anuncio {
    font-family: "Edwardian Script";
    text-align: center;
    display: block;
}

.grid-container {
    display: inline-grid;
}

.grid-container-three {
    display: inline-grid;
}

.grid-item-image {
    background-image: url(../imgs/RPF_anillo.jpg);
    background-size:cover;
}

button {
    border-radius: 10px;
    border-color: transparent;
}

@media(min-width:1081px) {
    .content {
        padding-top: 57px;
    }

    .titulo {
        font-size: 110px;
    }

    #intro .saludo {
        font-size: 30px;
        padding: 0 150px 0 150px;
    }

    #top-parallax {
        background-image: url("../imgs/RPF_principal2.jpg");
        min-height: 915px;
        background-attachment: fixed;
        padding-top: 25%;
    }

    #intro .anuncio {
        font-size: 90px;
    }

    #intro-section {
        font-size: 90px;
    }

    #imagen-anillo {
        margin: 30px 50px 0 0;
    }

    #MesasRegalos p {
        font-size: 25px;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

    .grid-item-gift {
        width: 450px;
        margin: 0 10px 0 0;
        align-content: center;
    }

        .grid-item-gift p {
            margin-bottom: 0;
            font-size: 20px !important;
            text-align: center;
        }

        .grid-item-gift div {
            text-align: center;
            padding-left: 20px;
        }

            .grid-item-gift div p {
                text-align: center;
            }

    .grid-item {
        width: 600px;
        margin: 0 10px 0 0;
    }

        .grid-item p {
            margin-bottom: 0;
            font-size: 20px;
            text-align: justify;
        }

        .grid-item div {
            text-align: left;
            padding-left: 20px;
        }

            .grid-item div p {
                text-align: left;
            }

    .grid-item-image {
        width:600px;
        height:425px;
        margin: 0 20px 0 20px;
    }

    .grid-item-text {
        padding: 20px 20px 0 0;
    }

        .grid-item-text p {
            text-align: left;
            font-size: 25px;
        }

    .grid-container-three {
        grid-template-columns: auto auto auto;
    }

    button {
        font-size: 20px;
        color: #CC7722;
        background: transparent;
        border-color: transparent;
    }

        button:hover {
            color: white;
            background: #CC7722;
        }

        button:active {
            border-color: transparent;
        }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        display: none;
    }

        .alert.success {
            background-color: #04AA6D;
            display: none;
        }
}

@media (max-width:1080px) {
    html {
    }

    .content {
        padding-top: 50px;
    }

    .titulo {
        font-size: 60px;
    }

    #top-parallax {
        background-image: url("../imgs/RPF_principal3.jpg");
        padding: 43% 0 10% 0;
    }

    #intro .saludo {
        padding: 0 20px 0 20px;
        font-size: 20px;
    }

    #intro .anuncio {
        font-size: 50px;
    }

    #intro-section {
        font-size: 40px;
    }

    #imagen-anillo {
        margin: 30px 10px 0 0;
    }

    #MesasRegalos{

    }
    #MesasRegalos p{
        padding: 0 20px 0 20px;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        margin: 0 10px 0 0;
    }

        .grid-item p {
            margin: 0 20px 0 20px;
            text-align: justify;
        }

        .grid-item form {
            text-align: left;
        }

            .grid-item form p {
                text-align: left;
            }

    .grid-item-image {
        width: 100%;
        height: 295px;
        margin: 0 0 20px 0;
    }

    .grid-item-text {
    }

        .grid-item-text p {
            text-align: justify;
            font-size: 18px;
            padding: 0 20px 0 20px;
        }

    .subtitulo {
        font-size: 40px;
    }

    span {
        font-size: 30px
    }

    .grid-container-three {
        grid-template-columns: auto;
    }

    .grid-item div {
        text-align: left;
        padding-left: 20px;
    }

        .grid-item div p {
            text-align: left;
        }

    p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    button {
        margin: 25px 0 25px 20%;
        font-size: 30px;
        height: 75px;
        width: 200px;
        color: white;
        
        background: #CC7722;
    }

        button:hover {
            color: #CC7722;
            background: transparent;
        }

    .radAsisto {
        width: 20px;
        height: 20px;
    }

    .txtAsisto {
        font-size: 20px;
    }

        .txtAsisto input {
            border-color: transparent;
        }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        display: none;
        font-size: 50px;
    }

        .alert.success {
            background-color: #04AA6D;
            display: none;
        }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .container {
        padding-top: 57px;
    }

    .sticky + .content {
        padding-top: 57px;
    }

#microevents-section p {
    margin-bottom: 0;
}

#microevents-section div {
    margin-top: 10px;
    color: #CC7722;
}

/*Imagenes*/
.img-dinner{
    background-image: url("../imgs/icons/loveline-02.jpg");
    clip: rect(0, 10px, 10px, 10px);
}