/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #FFFFF0;
    color: #CC7722;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

p {
    text-align: center;
}

div {
    text-align: center;
}

.titulo {
    font-family: "Edwardian Script ITC", sans-serif;
}

.subtitulo {
    font-size: 30px;
}

.intro {
}

#top-parallax {
    background-image: url("../imgs/RPF_principal2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-section {
    font-family: "Edwardian Script ITC", sans-serif;
    color: white;
}

#intro .saludo {
    text-align: center;
    display: block;
    padding: 0 150px 0 150px;
    margin-top: 5%;
}

#intro .anuncio {
    font-family: "Edwardian Script ITC", sans-serif;
    text-align: center;
    display: block;
}

.grid-container {
    display: inline-grid;
}

.grid-container-three {
    display: inline-grid;
}

button {
    border-radius: 10px;
    border-color: transparent;
}

@media(min-width:768px) {
    .titulo {
        font-size: 110px;
    }

    #intro .saludo {
        font-size: 35px;
        padding: 0 150px 0 150px;
    }

    #top-parallax {
        min-height: 915px;
        background-attachment: fixed;
        padding-top: 25%;
    }

    #intro .anuncio {
        font-size: 90px;
        margin: 3% 0 0 20%;
    }

    #intro-section {
        font-size: 90px;
    }

    #imagen-anillo {
        margin: 30px 50px 0 0;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

    .grid-item {
        width: 450px;
        margin: 0 10px 0 0;
    }

        .grid-item p {
            margin-bottom: 0;
        }

        .grid-item form {
            text-align: left;
        }

            .grid-item form p {
                text-align: left;
            }

    .grid-item-image {
    }

    .grid-item-text {
    }

        .grid-item-text p {
            text-align: left;
        }

    .grid-container-three {
        grid-template-columns: auto auto auto;
    }

    button {
        font-size: 20px;
        color: #CC7722;
        background: transparent;
        border-color: transparent;
    }

        button:hover {
            color: white;
            background: #CC7722;
        }
        button:active{
            border-color:transparent;
        }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        display: none;
    }

        .alert.success {
            background-color: #04AA6D;
            display:none;
        }
}

@media(max-width:767px) {
    html {
        width: 1380px;
    }

    .titulo {
        font-size: 190px;
    }

    #top-parallax {
        height: 1030px;
        padding-top: 35%;
    }

    #intro .saludo {
        font-size: 55px;
    }

    #intro .anuncio {
        font-size: 100px;
    }

    #intro-section {
        font-size: 130px;
    }

    #imagen-anillo {
        margin: 30px 10px 0 0;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        margin: 0 10px 0 0;
    }

        .grid-item p {
            margin-bottom: 0;
        }

        .grid-item form {
            text-align: left;
        }

            .grid-item form p {
                text-align: left;
            }

    .grid-item-image {
    }

    .grid-item-text {
    }

        .grid-item-text p {
            text-align: center;
            font-size: 60px;
            margin: 0 55px 0 55px;
        }

    .subtitulo {
        font-size: 95px;
    }

    span {
        font-size: 50px
    }

    .grid-container-three {
        grid-template-columns: auto;
    }

    p {
        font-size: 50px
    }

    button {
        font-size: 50px;
        height: 100px;
        width: 330px;
        color: white;
        background: #CC7722;
    }

        button:hover {
            color: #CC7722;
            background: transparent;
        }

    .radAsisto {
        width: 50px;
        height: 50px;
    }

    .txtAsisto {
    }

        .txtAsisto input {
            border-color: transparent;
        }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        display: none;
        font-size:50px;
    }

        .alert.success {
            background-color: #04AA6D;
            display: none;
        }
}

.content {
    padding-top: 57px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .container {
        padding-top: 57px;
    }

    .sticky + .content {
        padding-top: 57px;
    }

#microevents-section p {
    margin-bottom: 0;
}

#microevents-section div {
    margin-top: 10px;
    color: #CC7722;
}
